<p style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">Helpmate</p>

<h1 style="color:#222;font-family: Helvetica, Arial, sans-serif;font-size:22px;font-weight:normal;line-height:normal;">
Your Helpmate password has been updated
</h1>

<p style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">
Hi <%= @user.first_name %>,
</p>

<p style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">
You recently changed your Helpmate password. As a security precaution, this notification has been sent to your email.
</p>

<hr />

<p style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:1.3em;text-align:left;">
<strong>Didn't update your password?</strong><br />
If you did not change your password, your account may have been compromised. Just click this link to reset your password and regain control over your account:<br />
<%= edit_password_reset_url(@user.password_reset_token) %>
</p>
