<h3><%= @user.company.name %></h3>

<h2>You're invited to join Helpmate</h2>

<p>Hi <%= @user.first_name %>,</p>

<p>[Account owner] just set up an account for you. All you need to do is choose a username and password.
It only takes a few seconds.</p>

<p><strong>Click this link to get started:</strong><br />
<a href="http://helpmateapp.com" target="_blank">http://helpmateapp.com/id/invitations/e60ad4</a></p>

<p><strong>Have questions?</strong> Contact [Account Owner] at [account@owner.com]</p>
