<style>
label{
	font-size:14px;
	color:black;
	font-weight:bold;
}

input[type="text"], input[type="password"]{
	font-size:16px;
	font-weight:bold;
	padding:3px;
	width:300px;
}

input[type="submit"]{
	font-weight:normal;
	font-size:16px;
	padding:3px;
}
</style>

<h1 style="font-size:20px;margin-top:15px;padding:16px 30px 16px 40px;line-height:1.4em;background-color:#FFC;border:1px solid #E4E4B8;">
You're all set, <%= @user.first_name %>!
</h1>

<p style="font-size:14px;color:#333;">
We just sent you an email to <%= @user.email %> with your sign-in information so you'll always have it handy. Proceed <%= link_to 'here to sign in', log_in_path %>.
</p>
