<h1>Thanks for trying Helpmate</h1>

<p><b>Your account has been cancelled.</b> We're disappointed to see you go, but we thank you for giving out product a fair try.</p>

<p>Sincerely,</p>

<p>The Team</p>
