<h1>Helpmate</h1>

<div id="content" style="padding:20px;">
  
<div id="offer_to_sign_in">
  <p><b>Already have an account?</b> <%= link_to 'Sign in here', log_in_path %>.
</div>

<p>If you would like to open an account please call (956) 750-7775</p>

<p><%= link_to 'Back to login page', log_in_url %></p>

</div>
